@font-face {
    font-family: "Apple-Kid";
    src: url("./fonts/applekid.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
html{
    font-family: "Apple-Kid";
}
body{
    background-color: darkcyan;
    background-image: url("https://thumbs.gfycat.com/ObedientIcyChicken-size_restricted.gif");
}
.navbar-brand{
    margin-left: 25px;
}
#home{
    margin-left: 25px;
    margin-right: 25px;
}
#contact{
    margin-left: 25px;
    margin-right: 25px;
}
.container{
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
    text-align: center;
    background-color: darkslategrey;
    color: white;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
}
