body{
    background-image: url("https://thumbs.gfycat.com/ObedientIcyChicken-size_restricted.gif");
}

.navcontain{
    width: 50%;
}

.navbar{
    background-color: black;
    border: 3px solid white;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 100px;
    justify-content: space-around;
}

.navbar-brand img{
    width: 60px;
    height: 90spx;
}

.container{
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
    text-align: center;
    background-color: darkslategrey;
    color: white;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
}