/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Apple-Kid";

  src: url("./fonts/applekid.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}